.hero {
    margin: 0 auto;
    min-width: 320px;
    padding-top: 40px;
    padding-bottom: 71px;
    background-color: #00000050;
    
    background-image: url(../../../images/backgroundHero/hero-img-mob.jpg);
    background-size: cover;
    
    background-position: center;
}

.hero-area{
    text-align: center;
    color: var(--primary-text-color-theme-dark);

}
.hero-title{
    
    margin-bottom: 21px;
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
    line-height: 1;
}

.hero-text{
    line-height: 1.62;
    margin-bottom: 32px;
}