

.header{
    border-color: var(--background-second-color);
}


.header-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 60px;
}


.btn-area{
    display: flex;
    gap: 10px;
}

