

.header{
    border-color: var(--background-second-color);
}



.container {
    min-width: 360px;
    margin: 0 auto; 
    padding: 0px 16px;
        
}
.header-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    background-color: blueviolet;
}

.main-btn{
    width: 100px;
    height: 34px;
    background: var(--btn-main-color);
    border-radius: 80px;
    font-size: 16px;
    line-height: 1.63;
    border: none;
    padding: 0;
}

/* header button.main-btn{
    margin-bottom: 13px;
} */

.btn-area{
    display: flex;
    gap: 10px;
    margin-right: 16px;
}

