
/* main styles */

:root {
  --primary-font-family: 'Nunito', sans-serif;
  --primary-text-color-theme-dark: #FFFFFF;
  --primary-text-color-theme-light: #000000DD;
  --btn-main-color: #F4E041;
  --btn-hover-color: #FFE302;
  --btn-inactive-color: #B4B4B4;

  --selected-color: #00BDD3;
  --backgound-color: #F8F8F8;
  --background-second-color: #FFFFFF;
}

body {
  font-family: var(--primary-font-family);
  color: var(--primary-text-color-theme-light);
  font-size: 16px;
  line-height: 1.62;
  
}

main{
  background-color: var(--backgound-color);
}


.main-btn {
  width: 100px;
  height: 34px;
  background-color: var(--btn-main-color);
  border-radius: 80px;
  font-family: var(--primary-font-family);
  font-size: 16px;
  line-height: 1.63;
  border: none;

}

.main-btn:hover,
.main-btn:focus{
  background-color: var(--btn-hover-color);
}

/* reset */

img {
  display: block;
  padding: 0;

}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
}



.list, li {
    list-style: none;

}


h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

